<% if cookies && cookies['simple_cookies_consented'] != 'true' %>
  <div id="simple-cookies">
    <h1>Pour rendre votre visite plus agréable "App name" utilise des cookies</h1>
    <p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies.</p>
    <a href="#">Pour en savoir plus, cliquez ici.</a>
  </div>
<% end %>
