<% if request.cookies && request.cookies['simple_cookies_consented'] != 'true' %>
  <section id="simple-cookies" class="<%= klass if klass.present? %>">
    <h1><%=t "simple_cookies.title", appname: appname %></h1>
    <p><%=t "simple_cookies.text" %></p>
    <a href="#" class="simple-cookies-accept"><%=t "simple_cookies.ok" %></a>
  </section>
<% end %>
